@font-face {
    src: url('../fonts/Raleway-Regular.ttf');
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
}
@font-face {
    src: url('../fonts/Raleway-Medium.ttf');
    font-family: 'Raleway';
    font-weight: 500;
    font-style: normal;
}
@font-face {
    src: url('../fonts/Raleway-SemiBold.ttf');
    font-family: 'Raleway';
    font-weight: 600;
    font-style: normal;
}
@font-face {
    src: url('../fonts/Raleway-Bold.ttf');
    font-family: 'Raleway';
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
}

.wrapper {
    max-width: 1252px;
    margin: 0 auto;
    padding: 0 10px;
}


/* filter */

.filter {
    display: flex;
    justify-content: space-between;

    max-width: 1317px;
    /* margin-top: -77px;  */
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 57px 59px 43px 59px;
    border-radius: 21px;
    background: #fff;
}

.select {
    /* Убираем браузерную стрелку */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    /* Меняем стандартные стили */
    border: 2px solid #005FF9;
    border-radius: 11px;
    background-color: #fff;

    /* Убираем браузерную обводку */
    outline: none;

    padding: 14px 30px 14px 24px;
    cursor: pointer;

    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #005FF9;

    height: 56px;

}

/* Убираем браузерную стрелку в IE 10 и 11 */
.select::-ms-expand {
    display: none;
}

.select:focus {
    outline: none;
    box-shadow: 0px 0px 0px 1px rgb(32, 32, 179), 0px 0px 10px rgb(71, 57, 197);
}

.select-wrapper {
    position: relative;
}

.select-wrapper::before {
    content: "";

    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);

    display: block;
    width: 28px;
    height: 28px;
    background-image: url(../image/chevron-down.svg);

    /* Снимаем клик с svg */
    pointer-events: none;
    cursor: pointer;

}

.form-group {
    display: flex;
    justify-content: space-between;
}


.form-group-content {
    position: relative;
}

.dropdown-button {
    width: 300px;
    position: relative;
    display: block;
    text-align: left;

    background: #fff;
    border: 2px solid #005FF9;
    border-radius: 11px;
    height: 56px;

    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 30px;

    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #005FF9;

    cursor: pointer;
}

.dropdown-button::before {
    content: "";

    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);

    display: block;
    width: 28px;
    height: 28px;
    background-image: url(../image/chevron-down.svg);

    /* Снимаем клик с svg */
    pointer-events: none;
    cursor: pointer;

}

.dropdown-button:focus {
    outline: none;
    box-shadow: 0px 0px 0px 1px rgb(32, 32, 179), 0px 0px 10px rgb(71, 57, 197);
}

.dropdown-button--active {
    outline: none;
    box-shadow: 0px 0px 0px 1px rgb(32, 32, 179), 0px 0px 10px rgb(71, 57, 197);
}

.dropdown-list {
    display: none;

    position: absolute;
    left: 0;
    top: 56px;
    width: 100%;

    margin: 0;
    padding: 0;
    list-style-type: none;

    background: #fff;
    box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
    overflow: hidden;

    border-radius: 8px;
    width: 100%;

    z-index: 1;
} 

.dropdown-list--visible {
    display: block;
}

.dropdown-list-item {
    margin: 0;
    padding: 0;

    padding: 10px 24px;

    cursor: pointer;
}

.dropdown-list-item:hover {
    background: rgba(176, 198, 225, 0.6);
}

.dropdown-input-hidden {
    /* display: none; */
}





.btn-content {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0;
}

.btn-text {
    font-size: 24px;
    line-height: 30px;
}

.btn-icon {
    background-image: url(../image/filter_arrow_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-left: 44px;
}

.dropdown-btn::after {
    content: "";

}

.btn {

    background: #0061D3;
    border: 3px solid #0061D3;
    border-radius: 11px;
    /* height: 46px; */

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;

    cursor: pointer;
}

.filter-btn-result {
    background-color: #FFB800;
    border-radius: 11px;
    border: none;

    color: #ffff;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;

    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 56px;
    padding-right: 56px;
}


